@model List<Producto>

@{
    ViewData["Title"] = "Inicio - Game Over Hub";
}

<!-- Contenedor del Video -->
<div class="video-container" style="position: relative; width: 100%; margin: 0 auto;">
    <img src="https://motionbgs.com/media/6470/black-myth-wukong.jpg" alt="Portada del video"
         style="width: 100%; cursor: pointer; display: block;" onclick="playVideo()">
    <iframe id="youtube-video" width="100%" height="375"
            src="https://www.youtube.com/embed/7eS7schhJ8k"
            class="video-iframe"
            title="Black Myth: Wukong Release Date Trailer | Confront Destiny on August 20, 2024 - English Dub"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen style="display:none;"></iframe>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <button style="background: none; border: none; cursor: pointer;" onclick="playVideo()">
            <img src="https://img.icons8.com/ios-filled/50/000000/play--v1.png" alt="Play" style="width: 50px; height: 50px;">
        </button>
    </div>
</div>


<script>
    function playVideo() {
        document.getElementById("youtube-video").style.display = "block"; // Muestra el video
        document.querySelector("img").style.display = "none"; // Oculta la portada
        document.getElementById("youtube-video").src += "?autoplay=1"; // Inicia el video automáticamente
    }
</script>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb-container">
        </ol>
    </nav>
    <div class="d-flex justify-content-start flex-wrap mb-3">
        @foreach (var categoria in ViewBag.categorias)
        {
            <a href="@Url.Action("Productos","Home",new {categoriaId=categoria.CategoriaId})"
               class="btn btn-outline-secondary btn-sm mx-1">@categoria.Nombre</a>
        }
    </div>

    <h2 class="my-4">Productos</h2>
    <div class="row" id="productosContainer">
        @foreach (var producto in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4 productoItem" data-categoria="@producto.CategoriaId">
                <div class="card h-100 d-grid">
                    <a href="@Url.Action("DetalleProducto", "Home", new {id=producto.ProductoId})">
                        <img class="card-img-top" src="@producto.Imagen" alt="Imagen del producto" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="@Url.Action("DetalleProducto","Home",new {id=producto.ProductoId})">
                                @producto.Nombre
                            </a>
                        </h5>
                        <p class="card-text">@producto.Descripcion</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">Modelo:@producto.Modelo</li>
                        <li class="list-group-item font-weight-bold">@String.Format("{0:C}", producto.Precio)</li>
                    </ul>
                    <div class="card-body mt-auto">
                        @if (producto.Stock < 1)
                        {
                            <div class="alert alert-danger" role="alert">
                                <i class="fas fa-exclamation-circle"></i> Agotado
                            </div>
                        }
                        else
                        {
                            <form method="post" action="@Url.Action("AgregarProductoIndex")" class="d-flex">
                                <input type="hidden" name="id" value="@producto.ProductoId" />
                                <input type="number" class="form-control mr-2" name="cantidad" value="1" min="1"
                                       max="@producto.Stock" />
                                <button type="submit" class="btn btn-outline-primary rounded-pill">
                                    <i class="fas fa-cart-plus"></i>
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>
@{
    string? controllerName = Context.GetRouteValue("controller") as string;
    string? actionName = Context.GetRouteValue("action") as string;
}

<script>
    var controllerName = '@controllerName'

</script>